/target
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
results/*.xmi
results/*.pdf
models/extension/extra-test*.xmi
models/extension/*.pdf
models/model/*.pdf
desc/ttc13-funnyqt-cd-restruct.aux
desc/ttc13-funnyqt-cd-restruct.bbl
desc/ttc13-funnyqt-cd-restruct.blg
desc/ttc13-funnyqt-cd-restruct.log
desc/ttc13-funnyqt-cd-restruct.out
desc/ttc13-funnyqt-cd-restruct.pyg
desc/ttc13-funnyqt-cd-restruct.synctex.gz
desc/auto
postproc/ttc13-funnyqt-cd-restruct.aux
postproc/ttc13-funnyqt-cd-restruct.bbl
postproc/ttc13-funnyqt-cd-restruct.blg
postproc/ttc13-funnyqt-cd-restruct.log
postproc/ttc13-funnyqt-cd-restruct.out
postproc/ttc13-funnyqt-cd-restruct.pyg
postproc/ttc13-funnyqt-cd-restruct.synctex.gz
postproc/auto
postproc/ttc13-funnyqt-cd-restruct.pag
